.character-detail {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    padding: 1rem;
    flex-wrap: wrap; 
    background-color: aliceblue;
    max-width: 85%;
}
.image-container img {
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    align-items: center;
}

.info-container {
    flex: 1;
    max-width: 600px;
}

.info-container h2 {
    margin-top: 0;
}

ul {
    padding-left: 1rem;
    font-family: sans-serif;
}

button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
