<div class="header">
  <img class="logo" src="marvelLogo.png" alt="Marvel Logo"/>
  <h1 class="title">Personajes de Marvel</h1>
</div>
<div class="seeker">
  <input type="text" [(ngModel)]="searchTerm" (input)="searchCharacters()" placeholder="Buscar personaje..."/>
</div>
<div class="grid">
  <div *ngFor="let character of characters" class="card" (click)="goToCharacter(character)">
    <img [src]="character.thumbnail.path + '.' + character.thumbnail.extension" [alt]="character.name"/>
    <p>{{ character.name }}</p>
  </div>
</div>

<div class="pagination">
  <button (click)="prevPage()" [disabled]="currentPage === 1">Anterior</button>
  <span>Página {{ currentPage }} de {{ total / limit | ceil }}</span>
  <button (click)="nextPage()" [disabled]="currentPage * limit >= total">Siguiente</button>
</div>
